@media only screen and (max-width: 600px) {

    .desktop-nav { 
        display: none;
    }

    .row {
        flex-direction: column;
    }

    #top {
        padding-top: unset;
    }
 
    .mobile-nav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: block;
     }
       
     .mobile-nav #myLinks {
        display: none;
     }
       
     .mobile-nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
     }
 
     .mobile-nav img {
         width: 130px;
     }
       
     .mobile-nav a.icon {
        background: #fff;
        color: black;
        display: block;
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 1.7em;
     }
       
     .mobile-nav a:hover {
        background-color: #fff;
        color: black;
     }
       
     .active {
        background-color: #fff;
        color: white;
     }
 
     #myLinks {
         padding-left: 5px;
     }
 

    header {
        margin-top: 0;
    }

    .slide {
        flex-direction: column;
    }

    .slide img {
        width: 100%;
    }

    .slide-text {
        text-align: center;
    }

    .slide-text-title {
        font-size: 1.4em;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container-left {
        width: 100%;
        margin: unset;
    }

    #contact-email {
        margin: 0 0 5px 0;
    }

    #contact-email-label {
        margin: unset;
    }

    .contact-container-right {
        width: 100%;
        margin: 20px 0 0 0;
    }

}

@media screen and (min-width: 601px) and (max-width: 900px) {

    .mobile-nav {
        display: none;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container-left {
        width: 100%;
        margin: unset;
    }

    #contact-email {
        margin: 0 0 5px 0;
    }

    #contact-email-label {
        margin: unset;
    }

    .contact-container-right {
        width: 100%;
        margin: 20px 0 0 0;
    }

}

@media screen and (min-width: 901px) {

    .mobile-nav {
        display: none;
    }

}