html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

.container {
    max-width: 80%;
    margin: auto;
}

.row {
    display: flex;
}

#top {
    padding-top: 20px;
}

.colored-section {
  background-color: rgb(245, 245, 245);
}

.separation-bar {
  margin: auto;
  text-align: center;
}

.separation-bar hr {
  width: 65px;
  height: 1px;
  border: none;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
}

.title-circle {
  font-size: 1em;
    color: #f07826;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

/* Nav Section */

nav {
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 0;
    z-index: 5;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.logo img {
    width: 130px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    text-decoration: none;
    color: #5c5c5c;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 1.2em;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

nav a:hover {
  color: black;
}


a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #f07826;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

/* Header Section */

header {
    margin-top: 80px;
    height: 75vh;
    background-image: url(../img/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-overly {
  content: "";
  position: absolute;
  width: 100%;
  height: 75vh;
  background: #21212161;
  display: flex;
  margin: auto;
}

.header-title {
  color: white;
  text-align: center;
}

.header-title h1 {
  font-size: 4em;
  margin-bottom: 5px;
}

.header-title h2 {
  font-weight: 300;
  font-size: 2em;
  margin-top: 5px;
}

.header-btn {
  margin: 120px 0 0 0;
}

.header-btn a {
  background-color:#f07826;
  padding: 20px;
  font-size: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header-btn a:hover {
  background-color: black;
}

/* Slider Section */

#slider-section {
  margin: 55px auto;
}

#slider-section h2 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.slider-container {
  max-width: 1000px;
  position: relative;
  margin: 30px auto ;
}

.slide {
  display: none;
  flex-direction: row;
}

.slide img {
  width: 50%;
}

.slide-text {
  margin: auto;
  text-align: left;
}

.slide-text-title {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.slide-text-sub {
  font-size: 0.8em;
}

.slider-control {
  margin: 10px auto auto auto;
  text-align: center;
}

.prev, .next, .pause {
color: #f07826;
font-size: 30px;
padding: 0 15px;
}

.prev:hover, .next:hover, .pause:hover {
  color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Call to Action Section */

#cta-section {
  padding: 30px 0;
  text-align: center;
}

.cta-icon a{
  font-size: 3em;
  color: #f07826;
}

.cta-icon a:hover{
  font-size: 3em;
  color: black;
}


/* Map Section */

#map-section {
  padding: 55px 0 0 0;
}

#map-section h2 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.map-container {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
}

#map {
    width: 100%;
    height: 81vh;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

#info-container {
  display: flex;
  background-color: white;
  width: 0px;
  height: 78vh;
  position: relative;
  transition: 0.3s;
  top: 1vh;
  left: 0;
  text-align: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#station-details {
  display: none;
  margin: auto;
  padding: 15px;
}

#info-container h2 {
  font-size: 1.3em;
  font-weight: 300;
}

#info-container h3 {
  font-size: 1.3em;
}

.station-details p {
  font-weight: 100;
}

#station-available-bike {
  font-weight: 100;
}

#station-total-stand {
  padding-left: 10px;
  font-weight: 100;
}

#station-banking {
  padding-left: 25px;
  color: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
  font-size: 1.5em;
}

.close:hover {
  color: palevioletred;
}

.station-open {
    font-weight: 400;
    color: green;
}

.station-close {
    font-weight: 400;
    color: red;
}

.station-btn-reserve {
  display: block;
  border: 1px solid;
  width: min-content;
  margin: 20px auto;
  padding: 5px 10px;
  background-color: #f07826;
  color: white;
  text-decoration: none;
}

.station-btn-reserve:hover {
  background-color: black;
}

.station-btn-reserve-disable {
  display: block;
  border: 1px solid;
  width: min-content;
  margin: 20px auto;
  padding: 5px 10px;
  background-color: grey;
  color: white;
  text-decoration: none;
  cursor: default;
  pointer-events: none;  
}

/* Canvas Section */

#canvas-section {
  padding: 30px 0;
  display: none;
  transition: 0.3s;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sig-canvas {
  border: 2px dotted #CCCCCC;
  cursor: crosshair;
  margin: auto;
  background-color: white;
}

.form-container {
  width: 300px;
  margin: auto;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input {
  height: 20px;
  margin: 5px 0 5px 5px;
  border-radius: 3px;
  border: solid 1px #CCCCCC;
  padding: 5px;
  width: 100%;
}

.form-container label {
  width: 30%;
}

.reserve-form {
  width: 100%;
  text-align: center;
}

.form-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline; 
}

.form-surname {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline; 
}

.btn-control {
  margin: 5px;
  color: #fff;
  text-decoration: none;
}

.btn-control a {
  color: #fff;
  text-decoration: none;
}

#blank {
  display: none;
}

.canvas-btn-reserve {
  background-color: #f07826;
  border: 0 solid;
  padding: 5px 10px;
  font-size: 1em;
  color: white;
  margin-right: 5px;
}

.canvas-btn-reserve:hover {
  background-color: black;
}

.canvas-btn-clear {
  background-color: #888888;
  border: 0 solid;
  padding: 5px 10px;
  font-size: 1em;
  color: white;
  margin-left: 5px;
}

.canvas-btn-clear:hover {
  background-color: #5c5c5c;
}

/* Validation Section */

#valid-section {
  padding: 30px 0;
  display: none;
}

.valid-container {
  text-align: center;
}

.valid-container h3 {
  text-transform: uppercase;
  font-weight: 300;
}

#btn-cancel {
  background-color: #f07826;
  border: 0 solid;
  padding: 5px 10px;
  font-size: 1em;
  color: white;
  margin-right: 5px;
}

#btn-cancel:hover {
  background-color: black;
}

/* Contact Section */

#contact-section {
  padding: 30px 0 ;
}

#contact-section h2 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  max-width: 1000px;
}

.contact-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 20px 0 0;
}

.contact-container-left form {
  width: 100%;
}

.contact-container-left-submodule {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-container-left-submodule input, textarea {
border: 1px solid #ced4da;
line-height: 1.5;
padding: .375rem .75rem;
border-radius: 3px;
}

.contact-container-left-submodule label {
  padding-bottom: 10px;
}

#contact-name {
  margin: 0 10px 5px 0;
}

#contact-email {
  margin: 0 0 5px 10px;
}

#contact-email-label {
  margin: 0 0 0 10px;
}

#contact-subject {
  margin: 0 0 5px 0;
}

#contact-message {
margin: 0 0 5px 0;
}

.btn-send {
  display: block;
  border: 1px solid;
  width: min-content;
  margin: 10px 0 0 0;
  padding: 5px 10px;
  background-color: #f07826;
  color: white;
  text-decoration: none;
}

.btn-send:hover {
  background-color: black;
}

.contact-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 0 20px;
}

.contact-container-right iframe {
  width: 100%;
  height: 100%; 
  border: 0; 
}

/* Footer Section */

footer {
  height: 100px;
  background-color: black;
  color: #fff;
  display: flex;
}

.footer-text {
  text-align: center;
}